:root{
	--main-color: #1da1f2;
	--font-color: #fff;
	--footer-link-color: #aab8c2;
	--footer-top-border-color: #e6ecf0;
}	

*,*::after, *::before{
	box-sizing: : border-box;
}

body,html{
	margin: 0;
	padding: 0;
}

p,a,h1,h2,h3,li,span{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

.container{
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 90vh 10vh;
}

/** box esquerdo **/
.container .left-box{
	background-color: var(--main-color);
	grid-column: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .left-box ul li{
	list-style-type: none;
	font-size: 18px;
	line-height: 24px;
	margin: 50px 0;
	font-weight: bold;
	color: #fff;
}
.container .left-box ul li .icon{
	font-size: 22px;
	margin-right: 10px;
}
/** fim do box esquerdo **/

/** inicio box direito **/
.container .right-box{
	background-color: #151f2a;
	grid-column: 2 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .right-box .card{
	min-width: 300px;
	padding: 0 60px;
}

.container .right-box .card .head{
	display: flex;
	justify-content: space-between;
}

.container .right-box .card .logo-icon{
	font-size: 3em;
	color: var(--main-color);
}

.container .right-box .card .h1{
	font-size: 27px;
	line-height: 32px;
	color: var(--font-color);
}

.container .right-box .card .p{
	font-size: 16px;
	font-weight: bold;
	color: var(--footer-link-color);
}

/** fim box direito **/

/** comeco box de baixo **/
.container .bottom-box{
	background-color: #151f2a;
	grid-column: 1 / -1;
	border-top: 1px solid var(--footer-top-border-color);
}

.container .bottom-box ul{
	text-align: center;
}

.container .bottom-box ul li{
	display: inline-block;
	margin: 0 5px;
}

.container .bottom-box ul li a{
	font-size: 12px;
	color: var(--footer-link-color);
	text-decoration: none;
}

.container .bottom-box ul li a:hover{
	text-decoration-line: underline;
}

/** fim box de baixo **/

/** Botões */
button.btn{
	display: block;
	border: none;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 16px;
	border-radius: 100px;
	font-weight: bold;
}
button.block{
	width: 100%;
	margin-bottom: .8rem;
}
button.primary{
	background-color: var(--main-color);
	color: #fff;
}
button.outline{
	background-color: #151f2a;
	color: var(--main-color);
	border: 1px solid var(--main-color);
}